body {
  font-family: $suisse;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

video {
  object-fit: contain;
}